img.sofron{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50%;
}
.zoom {
	transition: transform .2s;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.5);
}

.FAA {
    display:none;
}

.FAQ_Pointer {
	cursor: pointer;
}
