.sf-menu,.sf-menu *{
    margin:0;
    padding:0;
    list-style:none;
    margin-top: 0px;
}
 .sf-menu li{
    position:relative;
}
 .sf-menu ul{
    position:absolute;
    display:none;
    top:100%;
    left:0;
    z-index:99;
}
 .sf-menu > li{
    float:left;
    margin:0 1px;
}
 .sf-menu li:hover > ul,.sf-menu li.sfHover > ul{
    display:block;
}
 .sf-menu a{
    display:block;
    position:relative;
}
.sf-menu a.home:before,#searchnya button:before,#view a:before,.rcentpost .date:before,.rcentpost .comnum:before,.morepostag a:before,#topmobilenav:before,#mobilenav:before,#related_posts .date:before,#related_posts .comnum:before,.camera_caption .date:before,.camera_caption .comnum:before,.camera_prev > span:before,.camera_next > span:before,.camera_commands > .camera_stop:before,.camera_commands > .camera_play:before,.camera_nextThumbs div:before,.camera_prevThumbs div:before,.topmeta .addthis_default_style > a:before{position:absolute;font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;}
.sf-menu a.home:before,#searchnya button:before,#view a:before,.breadcrumbs .homex:before{text-indent:0;}
.sf-menu a.home:before{width:30px;height:30px;}
.sf-menu a.home:before{content:"\f015";top:0;font-size:29px;left:11px;color:#FFFFFF;}

.sf-menu a.home,.sf-menu > li > a.home.current{
    background-color:#007abe;
    text-indent:-9999px;
    padding:0;
    width:50px;
}
 .sf-menu ul ul{
    top:0;
    left:100%;
}
 .sf-menu{
    float:left;
    margin-top: 2px;
}
 .sf-menu ul{
    min-width:12em;
    *width:12em;
}
 .sf-menu a{
    padding:0 10px;
    height:29px;
    line-height:20px;
    text-decoration:none;
    zoom:1;
}
 .sf-menu a.home,.sf-menu > li > a.home.current{
    background-color:#007abe;
    text-indent:-9999px;
    padding:0;
    width:50px;
}
 .sf-menu a{
    color:#E6E6E6;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:15px;
}
 #topnav .sf-menu a{
    color: #ffffff;
    height:29px;
    line-height:29px;
}
 .sf-menu li{
    white-space:nowrap;
    *white-space:normal;
    -moz-transition:background-color .2s;
    -webkit-transition:background-color .2s;
    transition:background-color .2s;
    position:relative;
}
 .sf-menu ul li{
    background-color:#000000;
    margin:1px 0;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
 #topnav .sf-menu ul li{
    background-color:#007abe;
}
 #topnav .sf-menu ul ul li{
    background-color:#007abe;
}
 .sf-menu ul a{
    font-weight:normal;
    height:28px;
    line-height:28px;
}

.sf-menu li a:hover {
    color:white;
    background-color: #0E0E0E;
}
 #topnav .sf-menu ul a{
    height:25px;
    line-height:25px;
}
 .sf-menu ul a:hover{
    padding-left:20px;
}
 .sf-menu ul ul li{
    background-color:#000000;
    margin:0;
    margin-bottom:1px;
    margin-left:2px;
}
 .sf-menu li:hover > a,.sf-menu li.sfHover > a,.sf-menu > li > a.current{
    background-color: #0E0E0E;
    -moz-transition:none;
    -webkit-transition:none;
    transition:none;
    color:white;
}
 #topnav .sf-menu li:hover > a,#topnav .sf-menu li.sfHover > a,#topnav .sf-menu > li > a.current{
    background-color:#000000;
    color:#E2E2E2;
}
 .sf-arrows .sf-with-ul{
    padding-right:2em;
    *padding-right:1em;
}
 .sf-arrows .sf-with-ul:after{
    content:'';
    position:absolute;
    top:50%;
    right:0.85em;
    margin-top:-2px;
    height:0;
    width:0;
    border:4px solid transparent;
    border-top-color:#E6E6E6;
}
 #topnav .sf-arrows .sf-with-ul:after{
    border-top-color:#007abe;
}
 .sf-arrows > li > .sf-with-ul:focus:after,.sf-arrows > li:hover > .sf-with-ul:after,.sf-arrows > .sfHover > .sf-with-ul:after{
    border-top-color:#E6E6E6;
}
 #topnav .sf-arrows > li > .sf-with-ul:focus:after,#topnav .sf-arrows > li:hover > .sf-with-ul:after,#topnav .sf-arrows > .sfHover > .sf-with-ul:after{
    border-top-color:#E2E2E2;
}
 .sf-arrows ul .sf-with-ul:after{
    margin-top:-4px;
    margin-right:-3px;
    border-color:transparent;
    border-left-color:#E6E6E6;
}
 #topnav .sf-arrows ul .sf-with-ul:after{
    border-left-color:#007abe;
}
 .sf-arrows ul li > .sf-with-ul:focus:after,.sf-arrows ul li:hover > .sf-with-ul:after,.sf-arrows ul .sfHover > .sf-with-ul:after{
    border-left-color:#E6E6E6;
}
 #topnav .sf-arrows ul li > .sf-with-ul:focus:after,#topnav .sf-arrows ul li:hover > .sf-with-ul:after,#topnav .sf-arrows ul .sfHover > .sf-with-ul:after{
    border-left-color:#E2E2E2;
}
 .sf-menu li > i{
    position:absolute;
    top:3px;
    right:3px;
    width:27px;
    height:22px;
    cursor:pointer;
    display:none;
    background-color:#007abe;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    outline:0;
}
 .sf-menu li > i:after{
    content:'+';
    color:#fff;
    font-size:19px;
    position:absolute;
    left:5px;
    top:-2px;
}
 .sf-menu li > i.active:after{
    content:'-';
    font-size:39px;
    top:-14px;
}
 #topnav .sf-menu li > i{
    width:23px;
    height:19px;
    top:6px;
}
 #topnav .sf-menu li > i:after{
    top:-4px;
    left:3px;
}
 #topnav .sf-menu li > i.active:after{
    top:-13px;
    font-size:31px;
    left:4px;
}
 .sf-menu a.home:before,#searchnya button:before,#view a:before,.rcentpost .date:before,.rcentpost .comnum:before,.morepostag a:before,#topmobilenav:before,#mobilenav:before,#related_posts .date:before,#related_posts .comnum:before,.camera_caption .date:before,.camera_caption .comnum:before,.camera_prev > span:before,.camera_next > span:before,.camera_commands > .camera_stop:before,.camera_commands > .camera_play:before,.camera_nextThumbs div:before,.camera_prevThumbs div:before,.topmeta .addthis_default_style > a:before{
    position:absolute;
    font-family:inherit;
    font-weight:normal;
    font-style:normal;
    text-decoration:inherit;
    -webkit-font-smoothing:antialiased;
}
 .sf-menu a.home:before,#searchnya button:before,#view a:before,.breadcrumbs .homex:before{
    text-indent:0;
}
 .sf-menu a.home:before{
    width:30px;
    height:30px;
}
 .sf-menu a.home:before{
    content:"\f015";
    top:0;
    font-size:29px;
    left:11px;
    color:#FFFFFF;
}